.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #4d4d4d;
  list-style: none;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #5a5a5a;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("/src/public/assets/Images/Business/lonely-logo.png");
  border-radius: 50%;
  border: solid 3px #004611;
  background-position: center;
  background-size: cover;
}

.menu .nav-item {
  -webkit-transform: translate3d(-600px, 0, 0);
          transform: translate3d(-600px, 0, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #004611;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu .nav-link:hover {
  color: #004611;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#strains {
  text-align: center;
}

/* Slideshow container */
.strain-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

.strainImg {
  height: 450px;
  width: 350px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border: #004611;
  border-style: solid;
  border-radius: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hide the images by default */
.strainSlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 225px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(23, 255, 54, 0.8);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

.strainTitle {
  font-size: 48px;
  color: #004611;
}

/* The dots/bullets/indicators */
.dotGroup {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dot {
  cursor: pointer;
  text-align: center;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 500px) {
  .strainImg {
    height: 250px;
    width: 150px;
  }
  main {
    padding-right: 4rem;
    padding-left: 2rem;
  }
  .text {
    font-size: small;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #5a5a5a;
  position: fixed;
  color: white;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body.bg-img {
  background: url("/src/public/assets/Images/Strains/Bulk/Holy-Grail-Kush-1-Bulk.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body.bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(90, 90, 90, 0.7);
}

Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

Headings
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #004611;
}

main {
  padding-left: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #004611;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

main#home {
  overflow: visible;
}

main#home h1 {
  margin-top: 20vh;
}
/*# sourceMappingURL=main.css.map */