@media screen and (max-width: 623px){
  .strainImg {
    height: 350px;
    width: 250px;
  }
  .strainTitle {
    font-size: 20px;
  }
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px){
 
  .strainImg {
    height: 250px;
    width: 150px;
  }

  main {
    padding-bottom: 10px;
  }

  .strainTitle {
    font-size: 16px;
  }
  
  .text {
    font-size: 10px;
  }

}


@media screen and (max-width: 768px){
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  
    .portrait {
      background: $portrait-small;
      width: 150px;
      height: 150px;
    }
  }
}

  
