@media screen and (max-width: 375px){
  .prev, .next {
    top: 270px;
  }
 /* Position the "right next button" to the right */
 .next {
   right: 15%;
 }
 /* Position the "left next button" to the left */
 .prev {
   left: 15%;
 }
  .strainImg {
    height: 250px;
    width: 150px;
  }
  .strainTitle {
    font-size: 26px;
  }
  .text {
    font-size: 14px;
  }
}

@media screen and (min-width: 376px){
  .prev, .next {
    top: 315px;
  }
  /* Position the "right next button" to the right */
 .next {
   right: 10%;
 }
 /* Position the "left next button" to the left */
 .prev {
   left: 10%;
 }
  .strainImg {
    height: 350px;
    width: 250px;
  }
  main {
    padding-bottom: 10px;
  }
  .strainTitle {
    font-size: 30px;
  }
  .text {
    font-size: 18px;
  }
}

@media screen and (min-width: 574px){
  .prev, .next {
    top: 360px;
  }
  /* Position the "right next button" to the right */
 .next {
   right: 14%;
 }
 /* Position the "left next button" to the left */
 .prev {
   left: 14%;
 }
  .strainImg {
    height: 450px;
    width: 350px;
  }
  main {
    padding-bottom: 10px;
  }
  .strainTitle {
    font-size: 40px;
  }
  .text {
    font-size: 20px;
  }
}

@media screen and (min-width: 575px){
  .prev, .next {
    top: 360px;
  }
  /* Position the "right next button" to the right */
 .next {
  right: 14%;
 }
 /* Position the "left next button" to the left */
 .prev {
   position: 14%;
 }
}

//MENU
//Menu Sizing code for mobile
@media screen and (max-width: 768px){
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  
    .portrait {
      background: $portrait-small;
      width: 150px;
      height: 150px;
    }
  }
}

  
