$primary-color: #444;
$secondary-color: #ab1aee;
$show-home-image: true;
$home-image: url('/src/public/assets/Images/Strains/Green-Crack-Bulk.jpg');
$portrait-image: url('/src/public/assets/Images/Business/lonely-logo.png');
$portrait-small: url('/src/public/assets/Images/Business/lonely-logo.png');
$background-opacity: 0.8;

@mixin easeOut {
    transition: all 0.8s ease-out;
}