$primary-color: #444;
$secondary-color: #ab1aee;
$show-home-image: true;
$home-image: url('/src/public/assets/images/colorful-coding-background.jpg');
$portrait-image: url('/src/public/assets/images/me-250px.jpg');
$portrait-small: url('/src/public/assets/images/me-150px.jpg');
$background-opacity: 0.8;

@mixin easeOut {
    transition: all 0.8s ease-out;
}