#strains {
  text-align: center;
  padding: 20px;
  margin-bottom: 2rem;
  overflow: hidden;
  min-height: calc(100vh - 60px);
}
  
/* Slideshow container */
.strain-slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
}
  
.strainImg {
  height: 450px;
  width: 350px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border: $secondary-color;
  border-style: solid;
  border-radius: 2px;
  justify-content: center;
}
  
/* Hide the images by default */
.strainSlides {
  display: none;
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 350px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  @include easeOut;
}
  
/* Position the "right next button" to the right */
.next {
  right: 15%;
}
  
/* Position the "left next button" to the left */
.prev {
  left: 15%;
}
  
.prev:hover, .next:hover {
  background-color: rgba(23, 255, 54, 0.8);
  @include easeOut;
}
  
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 70%;
  margin: auto;
}
  
.strainTitle {
  font-size: 48px;
  color: $secondary-color;
}
  
/* The dots/bullets/indicators */
.dotGroup {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
.dot {
  cursor: pointer;
  text-align: center;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #717171;
}